<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='./assets/images/flower.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./assets/styles/base.css') }}"
    />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <h1>{% block heading %}{% endblock heading %}</h1>

    <article>
      {% block content %}{% endblock content %}
    </article>
  </body>
</html>
